@import "tailwindcss";

@font-face {
  font-family: 'Rizoma';
  src: url('/fonts/RizomaL-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Rizoma';
  src: url('/fonts/RizomaL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rizoma';
  src: url('/fonts/RizomaL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rizoma';
  src: url('/fonts/RizomaL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rizoma';
  src: url('/fonts/RizomaL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rizoma';
  src: url('/fonts/RizomaL-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Rizoma', sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}